@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", sans-serif;
  --clr-gray: #ccc;
  --clr-button: #27485d;
  --clr-button-hover: #276388;
  --clr-blue: #1a69fa;
}

body {
  margin: 0;
}

.input-tag,
input {
  @apply rounded h-10 border border-input-gray shadow-sm outline-none px-2 py-1 box-border max-w-400px w-100% placeholder-input-gray;
}

.custom-phone-input {
  height: 40px !important;
  width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
